body, h1, h2, h3, p, a{
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 16pt;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}
h1 {
    font-weight: 900;
    font-size: 48pt;
    line-height: 1;
    margin-bottom: 25px;
}
h2 {
    font-weight: 900;
    font-size: 24pt;
    padding: 25px 0 25px 75px;
    right:300px;
}
a{
    margin-right:75px;
    font-size: 14pt;
}
img{
    width: 350px;
    height: 500px;
    margin-left: 10px;
    object-fit: cover;
}
h3{
    font-weight: 550;
    margin-top: 50px;
}
.top{
    display: flex;
    justify-content: space-between;
    text-align: justify;
    flex-wrap: wrap;
}

.content {
    background-image: url(moroccan-flower.png);
    padding-bottom: 40px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.red {
    color: rgb(195, 0, 0);
}
.green {
    color:yellowgreen;
}
.tabs {
    font-size: 16px;
    margin-top: 20px;
    margin-right: 100px;

}
.text {
    display: inline-block;
    width: 350px;
    padding: 75px;
}

.image{
    display: flex;
    flex-direction: column;
    margin: 70px 15px 0 0;
    position: relative;
    text-align: right;
}


.caption{
position: absolute;
bottom:0;
right:0;
display: flex;
flex-direction: column;
align-items: end;
font-weight: bold;
}
.captionW{
    background-color: white;
    padding: 15px;
    width: 100px;
}
.captionG{
    background-color:yellowgreen;
    padding: 15px;
    width:  150px;
}
h3 img{
    height: 50px;
    width: auto;
    margin-bottom: -17px;
}